body {
	background-color: #34495e;
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-size: 18px;
	height: 100%;
}

h1 {
	color: #c0392b;
	position: relative;
}

.img-rounded {
	border-radius:6px;
}
}

.img-centered {
	text-align: center;
}

/* Sous-titre */
p.note {
	font-size: 12px;
	color: #7f8c8d;
}

div.titles {
	display: inline-block;
	top:50%;
}

/* Contains the title and the modal windows */
#header{
	text-align: center;
	position: relative;
}

#contentmain {
	height: 100%;
}

#footer{
	font-size: 12px;
	color: #7f8c8d;
	text-align: center;
}

.content{
	border: solid;
	border-color: #233140;
	top: 50%;
	left: 50%;
	margin-left: -500px;
	background-color: #2c3e50;
	min-height: 1000px;
	max-width: 1000px;
	position: relative;
	text-align: center;
	border-radius: 6px;
}

.menu{
	background-color: #233140;
	position: absolute;
	width: 100%;
}

.topmenu{
	margin:0;
	padding:0;
	list-style: none;
}

/* Aligns manu items on the left */
li.leftAlign {
	float: left;
	margin: 8px;
}

/* Aligns manu items on the right */
li.rightAlign {
	float: right;
	margin: 8px;
}

/* Background when menu items are hovered */
div.menu a:hover {
	background-color: #11181f;
}

div.info {
	text-align: left;
	position: absolute;
	width: 100%;
	height: 957px;
	margin-top: 43px;
}

a {
	text-decoration: none;
	color:#7f8c8d;

}

/* I DON'T KNOW WHAT THIS IS
div.login{
	border-radius: 6px;
	background-color: #233140;
	width:300px;
	height: 100px;
	display: block;
	float: left;
	position: relative;
	border:solid;
	border-color:#2c3e50;
}
*/

/* Used in the login form to align the "Login" button */
div.leftForm {
	position: relative;
}

/* Labels of the login form */
p.loginForm > label {
	color: #c0392b;
	text-align: left;
	display: block;
	width: 100px;
	float: left;
}

/* Inputs of the login form */
p.loginForm > input {
	color: white;	
	background-color: #2c3e50;
	width: 100px;
	text-align: center;
}

/* "Login" button of the login form */
p.loginForm > input.send {
	height:68px;
	width:100px;
	border-radius: 6px;
	float: right;
	display: block;
	margin-right: 5px;
	bottom: 0;
	right: 0;
	position: absolute;
}

/* Labels of the register form */
p.registerForm > label {
	color: #c0392b;
	text-align: left;
}

/* Inputs of the register form */
p.registerForm > input {
	color: white;	
	background-color: #2c3e50;
	width: 334px;
	text-align: left;
}

/* "Register" button of the register form */
p.registerForm > input.send {
	width: 340px;
	height: 50px;
	margin-top: 10px;
	text-align: center;
	border-radius: 6px;
}

form {
	text-align: left;
	margin-left: 5px;
}

/* Modal dialog window (login & register) */
.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity: 0;
	pointer-events: none;
}

.modalDialog:target {
	opacity: 1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 350px;
	position: relative;
	margin: auto;
	margin-top: 6%;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #233140;
	border:solid;
}

li.login > a {
	color:#c0392b;
	font-weight:bold;
}

input#valider{
	border:none;
	background-color: #233140;
}

input#valider:hover{
	background-color: #11181f;
}

select{
	width:100px;
	background: transparent;
	border:none;
	color:#7f8c8d;
}

.selecter{
	width:80px;
	overflow:hidden;
}

form.selecter{
	border:solid #11181f;
}

input#valider{
	text-align: left;
	color:#7f8c8d
}